In [ ]:
numbers11=20
if numbers11==4:
  print("number is matched")
else:
  print("number is not matched")

number is not matched

In [ ]:
# given number is even or not
numberss=int(input('enter the number:'))
if numberss%2==0:
  print('number is even')
else:
  print('number is odd')

enter the number:2
number is even

In [ ]:
# electric bill
electric_bill=int(input('enter the amount:'))
if electric_bill<=500:
  print('total bill to be paid:',electric_bill)
else:
  electric_bill+=1000
  print('total billtoo be paid:',electric_bill)

enter the amount:700
total billtoo be paid: 1700

In [ ]:
# if the number is divisible by both 3&5 o/p is fun and gun, if divisible by 3 o/p is fun, if divisible by 5 o/p gun
number222=int(input('enter the number:'))
if number222%3==0 and number222%5==0:
  print('fun and gun')
elif number222%3==0:
  print('fun')
elif number222%5==0:
  print('gun')
else:
  print('not fun and gun')

enter the number:15
fun and gun

In [ ]:
# number must be grater than zero and to check even or odd
num=int(input('enter the number:'))
if num>0:
  if num%2==0:
    print('even')
  else:
    print('odd')
else:
  print('number is not more than zero')

enter the number:6
even

In [ ]:
# leap year
num=int(input('enter the year:'))
if num%4==0 or num%400==0 and num%100!=0:
  print('leap year')
else:
  print('not a leap year')

enter the year:2024
leap year

In [ ]:
#eligible for voting or not
age=int(input('enter the age:'))
if age>=18:
  print('person is eligible for voting')
else:
  print('person is not eligible for voting')

enter the age:11
person is not eligible for voting

In [ ]:
#number is divisible by 7 or not
num=int(input('enter the number:'))
if num%7==0:
  print('number is divisible by 7')
else:
  print('number is not divisible by 7')

enter the number:21
number is divisible by 7

In [ ]:
#display "Hello" if a number entered by user is a multiple of five , otherwise print "Bye
num=int(input('enter the number:'))
if num%5==0:
  print('Hello')
else:
  print('Bye')

enter the number:20
Hello

calculate the electricity bill (accept number of unit from user) according to the following criteria :
             Unit                                                     Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

In [ ]:
ebill=int(input('enter the number of units:'))
if ebill<200 and ebill>100:
  ebill-=100
  charge=ebill*5
  print('total bill amount=',charge)
else:
  ebill-=200
  charge=500+ebill*10
  print('total bill amount=',charge)

enter the number of units:350
total bill amount= 2000

In [ ]:
#display the last digit of a number
num=int(input('enter the number:'))
print('last digit of number',num%10)

enter the number:2
last digit of number 2

In [ ]:
#check whether the last digit of a number( entered by user ) is divisible by 3 or not
num=int(input('enter the number:'))
num=num%10
if num%3==0:
  print('divisible')
else:
  print('not divisible')

enter the number:27
not divisible

accept percentage from the user and display the grade according to the following criteria:

         Marks                                    Grade
         > 90                                         A
         > 80 and <= 90                       B
         >= 60 and <= 80                       C
         below 60                                  D

In [ ]:
marks=int(input('enter the marks:'))
if marks>90:
  print('grade A')
elif marks>80 and marks<=90:
  print('grade B')
elif marks>=60 and marks<=80:
  print('grade C')
else:
  print('grade D')

enter the marks:55
grade D

accept the cost price of a bike and display the road tax to be paid according to the following criteria :
    
        Cost price (in Rs)                                       Tax
        > 100000                                                  15 %
        > 50000 and <= 100000                          10%
        <= 50000                                                  5%

In [ ]:
bcost=int(input('enter the cost  of the bike:'))
if bcost>100000:
  print('road tax to be paid:',bcost*0.15)
elif bcost>50000 and bcost<=100000:
  print('road tax to be paid:',bcost*0.10)
else:
  print('road tax to be paid:',bcost*0.5)

enter the cost  of the bike:125000
road tax to be paid: 18750.0

In [ ]:
#accept a number from 1 to 7 and display the name of the day like 1 for Sunday , 2 for Monday and so on
num=int(input('enter the number between 1 to 7: '))
if num==1:
    print("Sunday")
elif num==2:
    print("Monday")
elif num==3:
    print("Tuesday")
elif num==4:
   print("Wednesday")
elif num==5:
   print("Thursday")
elif num==6:
   print("Friday")
elif num==7:
   print("Saturday")
else:
   print("Please enter number between 1 to 7")

enter the number between 1 to 7: 7
Saturday

In [ ]:
# find the lowest number out of two numbers excepted from user
num1,num2=map(int,input('enter the numbers:').split())
if num1>num2:
  print('lowest number is:',num2)
else:
  print('lowest number is:',num1)

enter the numbers:3 1
lowest number is: 1

In [ ]:
#check whether a number entered is three digit number or not
num=int(input('enter the number:'))
if num>=100 and num<=999:
  print('number is three digit number')
else:
  print('number is not three digit number')

enter the number:333
number is three digit number

In [ ]:
#Accept the age of 4 people and display the youngest one
age1,age2,age3,age4=map(int,input('enter the ages:').split())
if age1<age2 and age1<age3 and age1<age4:
  print('youngest one is ',age1)
elif age2<age1 and age2<age3 and age2<age4:
  print('youngest one is ',age2)
elif age3<age1 and age3<age2 and age3<age4:
  print('youngest one is ',age3)
else:
  print('youngest one is ',age4)

enter the ages:4 3 2 1
youngest one is  1

In [ ]:
a = 1
b = 3
print('a > b') if a>b else print(a<b)

True

In [ ]:
a = 5
b = 3
result = 'a > b' if a>b else a<b
print(result)

a > b

In [ ]:
num = int(input('enter the number:'))
print('three digit number') if num<=999 and num>100 else print('not three digit number')

enter the number:22
not three digit number